/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */

@media (max-width: 980px) {
	.container { width: 700px; }

	// Hide the side panel
	#sidepanel { display: none; }

	// Undo negative margin on rows
	.row {
		margin-left: 0;
	}
	// Make all columns even
	.row > [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin: 0;
	}
}


/* #Mobile (Landscape)  Inherits from above
================================================== */
/* Note: Design for a width of 480px */

@media (max-width: 768px) {
	.container { width: 460px; }



	.page-header {
		border-bottom: 0;
		padding-bottom: 0px;

		h1 small {
			display: block;
			line-height: 18px;
		}
	}

	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		        box-sizing: border-box;

	}
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
		width: auto;
	}
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
	.form-horizontal .control-group > label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.modal {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		width: auto;
		margin: 0;
	}
	.modal.fade.in {
		top: auto;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption {
		position: static;
	}

}



// Compress the navbar
@media (max-width: 768px) {
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}
	.navbar .nav-collapse {
		clear: left;
	}
	.navbar .nav {
		float: none;
		margin: 0 0 9px;
	}
	.navbar .nav > li {
		float: none;
	}
	.navbar .nav > li > a {
		margin-bottom: 2px;
	}
	.navbar .nav > .divider-vertical {
		display: none;
	}
	.navbar .nav .nav-header {
		color: #999999;
		text-shadow: none;
	}
	.navbar .nav > li > a,
	.navbar .dropdown-menu a {
		padding: 6px 15px;
		font-weight: bold;
		color: #999999;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;
	}
	.navbar .dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.navbar .nav > li > a:hover,
	.navbar .dropdown-menu a:hover {
		background-color: #222222;
	}
	.navbar .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		float: none;
		display: block;
		max-width: none;
		margin: 0 15px;
		padding: 0;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	.navbar .dropdown-menu:before,
	.navbar .dropdown-menu:after {
		display: none;
	}
	.navbar .dropdown-menu .divider {
		display: none;
	}
	.navbar-form,
	.navbar-search {
		float: none;
		padding: 9px 15px;
		margin: 9px 0;
		border-top: 1px solid #222222;
		border-bottom: 1px solid #222222;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
		   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
		        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.btn-navbar {
		display: block;
	}
	.nav-collapse {
		overflow: hidden;
		height: 0;
		margin-top: 40px;
	}
}
@media (min-width: 769px) {
	.nav-collapse.collapse {
		height: auto !important;
	}
}


/* #Mobile (Portrait)  Inherits from above
================================================== */
/* Note: Design for a width of 320px */

@media (max-width: 480px) {
	.container { width: 300px; }

}



// Used for testing
.test_query(@color) {
	// body {border-top: 5px solid @color;}
}

