// Variables
@the_pink: hsl(333, 100%, 67%);
@base_grey: hsl(0, 0%, 93%);

// Selection styling
::selection,
::-moz-selection {
	background: @the_pink;
	color: #fff;
}
img::selection,
img::-moz-selection {
	background: transparent;
}

.sep {
	text-align: center;
	color: #ccc;
	margin: 0 8px;
}

// Dont use the large view used
// by bootstrap css
.container {
	max-width: 970px;
}



/* Site Header (#header)
================================================== */
header#header {

	// Swap padding and margins for proper
	// display in narrow viewports
	.navbar {
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 0;
		padding-right: 0;
	}

	// dont display on small viewports
	h1 {
		display:none;

		a {
			color: #333;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media (min-width: 768px) {

	// Navbar repositioning foo
	header#header {
		.navbar {
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 20px;

			// The navbar becomes detached from
			// the top, so we round the corners
			border-radius: 4px;
		}

		// No longer display this brand
		// The h1 is now visable
		.navbar-brand {
			display: none;
		}

		h1 {
			display:block;
			margin: 30px 0 20px;
		}
	}
}


/* Main Content (#content)
================================================== */

// articles
article {
	margin-bottom:30px;

	header {
		margin-bottom: 6px;
		border-bottom: 1px solid #eee;

		h1 {
			font-size: 40px;

			a {
				color: #333;

				&:hover {
					text-decoration: none;
					color: #444;
				}
			}
		}


		p {
			font-size: 11px;
			color: #999;
			margin-bottom: 3px;
		}
	}

	.post-img img {
		max-width: 100%;

	}

	.post-video {
		position: relative;
		padding-bottom: 57.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	ul.pager {
		margin: 18px 0;
	}


	footer {
		border-top: 1px solid #eee;
		padding-top: 5px;

		p {
			font-size: 11px;

			span:nth-child(n+2):before {
				content: ' | ';
				.sep;
			}
		}
	}
}


/* Side Panel (#sidepanel)
================================================== */

.widget {
	margin-bottom:20px;

	.nav-list {
		li a {
			padding: 4px 15px;
			border-bottom: 1px solid #F1F3F6;

			&:before {
				content: "";
				position: absolute;

				left: 1px;
				top: 18px / 2;

				border: 5px solid transparent;
				border-left-color: #eee;
			}
			&:hover:before {
				border-left-color: #ccc;
			}
		}
	}

	// scale down the quotes
	blockquote {
		border-left-width: 4px;
		padding-left: 10px;

		p {
			font-size: 14px;
			line-height: 17px;
		}
		small {
			font-size: 11px;
			line-height: 14px;
		}

	}
}


/* Site Footer
================================================== */
footer#footer {

	margin-top: 15px;
	margin-bottom: 20px;
	padding: 15px 0;

	border-top: 1px solid #E5E5E5;

	p {
		color: #777;
		font-size: 11px;

		margin-bottom: 0;

		&.html5 {
			margin-right: 5px;
			padding-top: 2px;
		}
	}
}
