// Variables
@the_pink: hsl(333, 100%, 67%);
@base_grey: hsl(0, 0%, 95%);

// Selection styling
::selection,
::-moz-selection {
	background: @the_pink;
	color: #fff;
}
img::selection,
img::-moz-selection {
	background: transparent;
}

.sep {
	text-align: center;
	color: #ccc;
	margin: 0 8px;
}



/* Site Header (#header)
================================================== */
.page-header a {
	color: #333;

	&:hover	{
		text-decoration: none;
	}
}

.navbar {

	// This fixes pull-right stuff not falling off the edge
	.container {
		width: auto;
	}
}


/* Main Content (#content)
================================================== */

// articles
article {
	margin-bottom:30px;

	header {
		margin-bottom: 6px;
		border-bottom: 1px solid #eeeeee;

		h1 {
			font-size: 40px;

			a {
				color: #333;

				&:hover {
					text-decoration: none;
					color: #555;
				}
			}
		}


		p {
			font-size: 11px;
			color: #999999;
			margin-bottom: 3px;
		}
	}

	.post-img {

	}
	.post-video {
		position: relative;
		padding-bottom: 57.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	ul.pager {
		margin: 18px 0;
	}


	footer {
		border-top: 1px solid #eeeeee;

		p {
			font-size: 11px;
		}
	}
}

// comments
section#comments {
	h3	{
		margin-bottom:10px;
	}

	article.comment {

		border-top: 1px solid @base_grey;
		margin-bottom: 0;

		padding: 10px;
		padding-left: 70px;

		header {
			border: none;

			p {
				color: darken(@base_grey, 30);
				font-size: 10px;
			}

		}

		// Comment Meta stuff
		img.avatar {
			padding: 3px;
			border: 1px solid darken(@base_grey, 14);
			background-color: @base_grey;
			margin-left: -63px;
			float:left;
		}

		span.comment-number {
			float:right;
			padding-right: 6px;

			a {
				font-size: 35px;
				line-height: 35px;
				color: @base_grey;
			}
		}

		// mouse hover
		&:hover {
			border-top-color: darken(@base_grey, 10);
			background-color: lighten(@base_grey, 4);
			span.comment-number a {
				text-decoration: none;
				color: darken(@base_grey, 10);
			}
		}

		// localtion.hash Highlighted
		&.highlighted {
			@base_pink: lighten(@the_pink, 30);

			border-top-color: darken(@base_pink, 15);
			background-color: lighten(@base_pink, 0);

			span.comment-number a {
				color: darken(@base_pink, 15);
			}

			// highlighted and hovered
			&:hover {
				border-top-color: darken(@base_pink, 15);
				background-color: darken(@base_pink, 2);
				span.comment-number a {
					color: darken(@base_pink, 20);
				}
			}


		}


		// The content
		.content {

		}


	}
}


/* Side Panel (#sidepanel)
================================================== */

.widget {
	margin-bottom:20px;

	.nav-list {
		li a {
			padding: 4px 15px;
			border-bottom: 1px solid #F1F3F6;
		}

		li {
			position: relative;
		}

		li:before {
			content: "";
			position: absolute;

			left: -15px;
			top: 18px / 2;

			border: 5px solid transparent;
			border-left-color: #eee;
		}
	}

	// scale down the quotes
	blockquote {
		border-left-width: 4px;
		padding-left: 10px;

		p {
			font-size: 14px;
			line-height: 17px;
		}
		small {
			font-size: 11px;
			line-height: 14px;
		}

	}
}

// latest tweet
#latest-tweet {

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	p.tweet {
		@color: #e6e6e6;

		background-color: @color;
		padding: 10px 13px;
		position: relative;

		&:after {
			content: "";
			position: absolute;

			top: 100%;
			left: 20px;

			border: 10px solid transparent;
			border-top-color: @color;
		}
	}

	.avatar {
		margin: 15px 0 0 15px;

		img {
			display:inline;
			float:left;
			margin-top:2px;
		}

		.metadata {
			display:inline;
			float:left;
			margin-left:12px;

			.username {

			}

			.timestamp {
				font-style:italic;
				font-size:.75em;
				color:#999;
			}
		}

	}
}


/* Site Footer
================================================== */
footer#copyright {

	margin-top: 15px;
	padding: 20px 0;

	border-top: 1px solid #E5E5E5;

	p {
		color: #777;
		font-size: 11px;

		margin-bottom: 0;

		&.html5 {
			margin-right: 5px;
			padding-top: 2px;
		}
	}
}
